.wrapper {
  padding-top: 86px;

  .wrappersubTitle {
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.0435em;
    color: #FFFFFF;
    position: relative;
    padding-left: 56px;

    &:before {
      content: '';
      position: absolute;
      width: 43px;
      height: 2px;
      top: 11px;
      left: 0;
      background-color: #40dddd;
    }
  }

  h1 {
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.0135em;
    color: #FFFFFF;
  }

  .wrapperCards {
    //background: red;
    position: relative;
    margin-top: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //padding: 5px;


    .wrapperCard {
      position: relative;
      //width: 594px;
      //height: 224px;
      background: #FFFFFF;
      border-radius: 10px;

      &:not(:last-child) {
        margin-right: 33px;
      }

      .cardImg {
        top: -16px;
        left: -17px;
        position: absolute;
        margin-right: 79px;
      }

      .wrapperCardText {
        margin: 24px 91px 0 246px;

        img {
          margin-right: 9px;
        }

        .userInfo {
          display: flex;
          column-gap: 9px;

          .userInfoName {

            h6 {
              margin: 0;
              font-weight: 700;
              font-size: 20px;
              line-height: 23px;
              color: #1C3A5C;
            }
          }

        }

        .userBalls {
          display: flex;
          flex-direction: column;

          .userBallsText {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: rgba(28, 58, 92, 0.7);
            margin-bottom: 5px;
          }

          b {
            margin-left: 10px;
          }

          h6 {
            padding-bottom: 21px;
            margin-top: 15px;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;

            color: #1C3A5C;
          }
        }

        .lastSpan {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: #1C3A5C;
        }


      }


    }
  }

  .nextPage {
    justify-content: flex-end;
    display: flex;
    width: 100%;
    padding: 30px 0 96px 0;

    .nextPageRinght {
      transform: rotate(180deg) translate(0px, 0px);
      padding: -15px;

      path {
        fill: #1C3A5C;

        &:active{
          fill: #40dddd;
        }
      }

    }
    .nextPageLeft{
      path {
        fill: #1C3A5C;
        &:active{
          fill: #40dddd;

        }
      }

    }
  }
}