.wrapper {
  padding: 0 0 311px 0;

  .headerTitle {
    align-items: center;
    justify-content: center;
    text-align: center;

    span {
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      letter-spacing: 0.0435em;
      color: #40DDDD;

    }

    h3 {
      font-weight: 700;
      font-size: 42px;
      line-height: 49px;
      text-align: center;
      letter-spacing: 0.0135em;
      color: #1C3A5C;
    }
  }

  .wrapperCard {
    display: flex;
    //padding-bottom: 285px;
    //padding: 0 0 285px 50px;

  }

  .cardBody {
    margin-right: 37px;
    margin-top: 91px;
    position: relative;


    .cardBodyTitle {
      transform: skew(-21deg);
      position: absolute;
      border: 1px solid rgba(28, 58, 92, 0.08);
      border-radius: 6px;
      width: 272px;
      left: -15px;
      top: 225px;
      background: #FFFFFF;
      box-shadow: 0 0 50px rgba(28, 58, 92, 0.15);

      .cardTitle {
        transform: skew(21deg);
        padding-left: 19px;

        h4 {
          margin: 0;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          color: #1C3A5C;
          padding: 12px 0 0 17px;
        }

        span {
          padding-left: 18px;
          margin-top: 1px;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: #1C3A5C;
          opacity: 0.7;
        }
      }


      .cardFooterTitle {
        padding-left: 18px;
        margin: 5px 0 16px 0;

        span {
          padding-left: 5px;
        }

      }
    }
  }
}