.wrapper {
  display: flex;
  justify-content: center;
  padding: 58px 0 0 0;

  .wrapperText {

    img {
      display: block;
    }

    .wrapperItem {
      display: grid;

      .textLorem {
        padding: 15px 438px 0 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0.0035em;
        color: #FFFFFF;
        opacity: 0.7;

      }

      .textNomer {
        padding: 28px 0 0 0;
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        color: #FFFFFF;

      }

      .textAddres {
        padding-top: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: #FFFFFF;
      }

      .textInfo {
        padding-top: 60px;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: #FFFFFF;
      }
    }

    .web {
      padding-top: 10px;
      align-items: center;
      column-gap: 20px;
      display: flex;
    }


  }

  .loactionCard {
    span {
      font-weight: 700;
      font-size: 18px;
      line-height: 23px;
      text-transform: capitalize;
      color: #FFFFFF;
    }
    .yearText{
      padding: 67px 0 0 171px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;
      opacity: 0.5;
    }

    .loactioncard {
      margin-top: 11px;
      background: #61dafb;
      width: 100%;
      height: 57%;

      border-radius: 10.805px;
      overflow: hidden;

      iframe {
        max-width: 384px;
        max-height: 191px;
      }
    }

  }
}