.wrapper {
  .headerText {
    padding-top: 201px;

    .htextArea {
      padding-bottom: 4px;
      margin-left: 600px;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      text-align: center;
      letter-spacing: 0.0435em;
      color: #40DDDD;
    }

    h3 {
      font-weight: 700;
      font-size: 42px;
      line-height: 49px;
      text-align: center;
      letter-spacing: 0.0135em;
      color: #1C3A5C;
      padding-bottom: 27px;
    }

    p {
      margin: auto;
      width: 600px;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      text-align: center;
      letter-spacing: 0.0035em;
      color: #1C3A5C;
      opacity: 0.7;
    }


  }

  .wrapperCard {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    min-height: 470px;
    transform: translateY(-25px);

    .wrapperCardItems {
      border-radius: 190px;
      overflow: hidden;
      flex: 1;
      height: 415px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:nth-child(3) {
        margin-top: 55px;
      }

      &:nth-child(2) {
        margin-top: 55px;
      }

    }
  }
}