.dashbord {
  justify-content: space-between;


  .dashbordNav {
    display: flex;
    align-items: center;
    padding: 48px 0 0 0;
    justify-content: space-between;

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;

      .drop {
        padding: 10px;
        border-radius: 6px;
        background: #334e6c;
        margin-right: 70px;

        span {
          font-weight: 600;
          font-size: 18px;
          line-height: 21px;

          color: #FFFFFF;
        }

      }

      li {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;

        &:not(:last-child) {
          margin-right: 45px;
        }
      }
    }

    @media (max-width: 1200px) {
      ul {
        display: none;
      }
    }


  }

  .mobileNav {
    display: none;
    width: 20px;
  }

  @media (max-width: 1200px) {
    .mobileNav {
      transform: translateX(0px);
      display: block;
      position: absolute;
      z-index: 3;
      width: 20px;
      right: 30px;
      top: 20px;
      transition: all 1s;

      img {
        transition: all 1s;
        width: 20px;
      }
    }

  }

  .mobileNavItem {
    transition: all 0.3s;
    position: absolute;
    z-index: 1;
    width: 380px;
    height: 84.7%;
    background: #92a0b0;
    right: 0;
    top: 0;
    transform: translateX(380px);

    .navUl {
      width: 160px;
      margin: auto;
      display: block;
      align-items: center;
      .navLanguage{
        padding: 10px;
      }


      ul {
        padding: 20px;
        display: block;

        li {
          //gap: 10px;

          padding: 10px;

        }
      }

      //z-index: 2;
      //background: #40dddd;
      //width: 100px;
    }
  }

  .mobileNavItemClose {
    transition: all 0.3s;
    transform: translateX(0px);
  }

  .dashbordBody {
    padding-top: 70px;
    display: flex;
    width: 100%;

    .dashbordBodyLeft {
      margin-top: 61px;
      width: 55%;

      span {
        font-weight: 300;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0.0435em;
        color: #FFFFFF;
        position: relative;
        padding-left: 56px;

        &:before {
          content: '';
          position: absolute;
          width: 43px;
          height: 2px;
          top: 11px;
          left: 0;
          background-color: #40dddd;
        }
      }

      h3 {
        padding-top: 15px;
        font-weight: 700;
        font-size: 42px;
        line-height: 49px;
        letter-spacing: 0.0135em;

        color: #FFFFFF;
      }

      p {
        padding: 29px 0 31px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0.0035em;
        color: #FFFFFF;
        opacity: 0.7;
      }

      button {
        text-align: center;
        padding: 10px 20px;
        border: none;
        background: #40DDDD;
        border-radius: 6px;
        font-weight: 600;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0.0035em;
        color: #1C3A5C;

        img {
          margin-left: 10px;
        }
      }
    }

    .dashbordBodyRinght {
      margin-left: 100px;

      width: 40%;
    }
  }

}