
.wrapper {
  padding: 100px 0 120px 0;

  .wrapperTitle {
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.0435em;
    color: #1C3A5C;
    position: relative;
    padding-left: 56px;

    &:before {
      content: '';
      position: absolute;
      width: 43px;
      height: 2px;
      top: 11px;
      left: 0;
      background-color: #40dddd;
    }

    h1 {
      font-weight: 700;
      font-size: 42px;
      line-height: 49px;
      letter-spacing: 0.0135em;
      color: #1C3A5C;
    }

  }
}

.wrapperCard {
  margin-top: 34px;
  display: flex;

  .wrapperCards {
    padding: 12px 12px 0 12px;
    background: #FFFFFF;
    border: 1px solid rgba(28, 58, 92, 0.12);
    box-shadow: 0 0 100px rgba(28, 58, 92, 0.1);
    border-radius: 14px;

    &:not(:last-child) {
      margin-right: 20px;
    }

    img {
      width: 100%;
      margin-bottom: 9px;
    }

    h3 {
      padding-left: 3px;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #1C3A5C;
    }

    span {
      padding: 0 0 6px 1px;
      font-weight: 400;
      font-size: 13px;
      line-height: 143.5%;
      color: #1C3A5C;
      opacity: 0.7;
    }

    .wrapperCardFooter {
      margin: 6px 0 8px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .wrapperCardsLeft {
        font-weight: 600;
        font-size: 13px;
        line-height: 143.5%;
        color: #40DDDD;
        border: none;
        background: none;

        .nextPa {
          margin-left: 5px;

          path {
            fill: #40DDDD;
          }
        }

        span {
          font-weight: 400;
          font-size: 10px;
          line-height: 18px;
          text-align: right;
          color: #214690;
          opacity: 0.4;
        }

      }

    }

  }
}
