.buttonhover {
  visibility: hidden;
  margin-top: 25px;
  text-align: center;
  padding: 10px 20px;
  border: none;
  background: #40DDDD;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.0035em;
  color: #1C3A5C;
  opacity: 0;
  width: 100%;

  img {
    margin-left: 10px;
  }

  &:hover {
    display: block;
  }
}

.wrapperKurslar {
  min-height: 767px;
  padding-top: 100px;

  .headrTotle {
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.0435em;
    color: #1C3A5C;;
    position: relative;
    padding-left: 56px;

    &:before {
      content: '';
      position: absolute;
      width: 43px;
      height: 2px;
      top: 11px;
      left: 0;
      background-color: #40dddd;
    }
  }

  h3 {
    margin-top: 4px;
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.0135em;
    color: #1C3A5C;
  }

  .buttons {
    //display: inline;
    display: inline-flex;
    padding: 3px;
    background: #EBF3FC;
    border-radius: 10000px;
    height: 58px;

    button {
      border: none;
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #1C3A5C;
      background: #EBF3FC;
      border-radius: 10000px;
      padding: 16px 34px 16px 34px;
    }

    .buttonActive {
      border: none;
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #1C3A5C;
      background: #40DDDD;
      border-radius: 10000px;
      //padding: 16px 34px 16px 34px;
    }
  }

  .cards {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 19px;
    grid-row-gap: 0;

    .cardSub {
      height: 315px;
      cursor: pointer;
      background: #FFFFFF;
      border: 1px solid rgba(28, 58, 92, 0.12);
      box-shadow: 0 0 100px rgba(28, 58, 92, 0.1);
      border-radius: 14px;
      padding: 25px 28px 26px 19px;
      min-height: 0;
      transition: all 0.3s ease;


      .cardImg {
        background: rgba(64, 221, 221, 0.1);
        border-radius: 8px;
        padding: 13px;
      }

      h4 {
        margin-top: 21px;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        color: #1C3A5C;
      }

      .cardbodyText {
        display: flex;
        align-items: center;
        margin-top: 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        /* or 114% */


        /* daad */

        color: #1C3A5C;


        img {
          padding: 7px;
          background: #EAF2FB;
          margin-right: 9px;
          border-radius: 50%;
        }
      }

      &:hover {
        height: 400px;
        border: 1.5px solid #40DDDD;
        box-shadow: 0 0 100px rgba(64, 221, 221, 0.25);
        .buttonhover {
          visibility: visible;
          opacity: 1;
          transition: opacity 0.9s ease;
        }
      }
    }
  }
}


