.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.cardDash {
    background: #1C3A5C;
}

.cardLesson {
    background-color: #FFFFFF;

}

.cardTaem {
    background-color: #FFFFFF;
    background-image: url("assets/img/bgImg.svg");
    background-repeat: no-repeat;
    background-position: center right;
}

.cardResults {
    /*margin: 232px 100px 0 100px;*/
    background-color: #1C3A5C;
    background-image: url("assets/results/Saly-1.svg");
    background-repeat: no-repeat;
    background-position: center right;
}

.cardNews {
    background-color: #FFFFFF;
}
.cardFooter {
    height: 400px;
    background-color: #1C3A5C;
}

.cardImg {
    background-image: url("assets/news/newsBgImg.svg");
    background-repeat: no-repeat;
    background-position: top left;
}
.cardSPC {
    background-image: url("assets/news/newsBgImg.svg");
    background-repeat: no-repeat;
    background-position: top center;
}


.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
