.wrapperCard {
  .headerText {
    padding-top: 218px;

    .htextArea {
      padding-bottom: 4px;
      margin-left: 600px;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      text-align: center;
      letter-spacing: 0.0435em;
      color: #40DDDD;
    }

    h3 {
      font-weight: 700;
      font-size: 42px;
      line-height: 49px;
      text-align: center;
      letter-spacing: 0.0135em;
      color: #1C3A5C;
      padding-bottom: 27px;
    }


  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .wrapperBox {
      margin: 0;
      width: 590px;
      height: 238px;
      background: #FFFFFF;
      border: 1px solid rgba(28, 58, 92, 0.12);
      box-shadow: 0 0 100px rgba(28, 58, 92, 0.08);
      border-radius: 14px;
      display: flex;

      .cardBodyLeft {
        width: 40%;
        height: 100%;
        display: flex;

        img {
          padding: 10px;
          width: 100%;
          height: 100%;
        }

        //.cardbodyText {
        //  align-items: center;
        //  display: flex ;
        //
        //  img {
        //    border-radius: 50%;
        //    background: #0056b2;
        //    margin-left: 5px;
        //  }
        //
        //  .cardheaderText {
        //    font-weight: 400;
        //    font-size: 14px;
        //    line-height: 138.5%;
        //    color: #1C3A5C;
        //  }
        //
        //  .cardSecondText {
        //    font-weight: 300;
        //    font-size: 14px;
        //    line-height: 138.5%;
        //    color: rgba(28, 58, 92, 0.8);
        //
        //    p {
        //      display: inline;
        //      margin: 0;
        //      padding: 0;
        //    }
        //
        //  }
        //
        //}


      }

      .cardBodyRing {
        padding: 15px 66px 15px 22px;
        width: 60%;

        h6 {
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;
          color: #1C3A5C;
        }

        .cardbodyText {
          display: flex;

          img {
            margin: 2px 10px 18px 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #EAF2FB;;
            padding: 8px;
            //margin: 2px;
          }

          .cardheaderText {
            font-weight: 400;
            font-size: 14px;
            line-height: 138.5%;
            color: #1C3A5C;
          }

          .cardSecondText {
            font-weight: 400;
            font-size: 14px;
            line-height: 138.5%;

            color: #1C3A5C;

            span {
              font-weight: 250;
              font-size: 14px;
              line-height: 138.5%;
              display: block;
              color: rgba(28, 58, 92, 0.8);

            }

          }

        }

      }

    }
  }

  .nextPage {
    justify-content: flex-end;
    display: flex;
    width: 100%;
    padding: 30px 0 198px 0;

    .nextPageRinght {
      transform: rotate(180deg) translate(0px, 0px);
      padding: -15px;

      path {
        stroke: gray;

      }
      &:active {
        stroke: #fff !important;
        fill: #130F26;
      }

    }

    .nextPageLeft {
      path {
        stroke: gray;

      }
      &:active {
        stroke: #fff !important;
        fill: #130F26;
      }

    }
  }

}



